#wrapper
{
    background-color: white;
    padding: 1rem;
    text-align: left;
    box-shadow: 0 4px 30px rgba(190, 190, 190, 0.1);
    font-family: 'Nunito', sans-serif;
    border-radius: 1rem;
    border:  1px solid lightgray;
    height:fit-content; 
    display: grid;
    grid-template-columns: 30% 60% 10%;
    justify-content: center;
}
#profile
{
    border-radius: 100%;
}
h6
{
    font-family: 'Nunito', sans-serif;
}
.ProfileText
{
    font-weight: bold;
}